/node_modules
/public/hot
/public/storage
/public/app
/public/uploads
/assets/uploads
public/assets/dashboard-widget-img/
public/assets/product-samples.csv
public/assets/uploads
public/assets/slider
public/assets/page-section
public/assets/images/blog
public/assets/attachment
public/assets/purchase
public/assets/images/product
public/assets/images/testimonial
public/assets/images/website-content
public/error_log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
storage/framework/laravel-excel/*
public/assets/company.png
Dockerfile
docker-compose.yml
nginx.conf
mysql/
public/assets/images/*
public/assets/popup-notifications/*
public/assets/images.zip
public/assets/banner
public/assets/images
public/assets/popup-notifications/*
