.headerTitle {
    font-size: 25px;
    font-weight: 700;
    margin-top: 2rem;
}

body {
    font-family: 'Titillium Web', sans-serif
}

.product-qty span {
    font-size: 14px;
    color: #6A6A6A;
}

.btn-link {
    color: #4c5056e3;
}

.btnF {
    display: inline-block;
    font-weight: normal;
    margin-top: 4%;
    color: #4b566b;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: .9375rem;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media (max-width: 600px) {
    .sidebar_heading {
        background: #FF4747
    }

    .sidebar_heading h1 {
        text-align: center;
        color: aliceblue;
        padding-bottom: 17px;
        font-size: 19px;
    }

    .headerTitle {

        font-weight: 700;
        margin-top: 1rem;
    }
}
