body {
    font-family: titillium web, sans-serif
}

.tsb {
    font-weight: 600
}

.tb {
    font-weight: 700
}

.twr {
    font-weight: 400
}

.rr {
    font-family: roboto, sans-serif;
    font-weight: 400
}

.rb {
    font-family: roboto, sans-serif;
    font-weight: 700
}

.navbar-brand img {}